<!--Navbar-->
<nav class="navbar navbar-expand bg-custom-gray menu-direction header-height"
     style="padding: 0; position: fixed; width: 100%; z-index: 10"
     *ngIf="router.url !== '/login' &&
      router.url !== '/sign-up' && !appGlobal.isAuthenticated">
  <div class="container">

    <!-- Navbar brand -->
    <a routerLinkActive="active" routerLink="/" class="navbar-brand">
      <img src="assets/imgs/icons/carnotic.png" height="50">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse">

      <!-- Right Links -->
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" routerLink="/pricing" class="txt-custom-black title-property">قیمت گذاری</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/features" class="txt-custom-black title-property">ویژگی ها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/solutions" class="txt-custom-black title-property">راه کارها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/contact-us" class="txt-custom-black title-property">تماس با ما</a>
        </li>
      </ul>

      <ul class="nav navbar-nav mr-auto">
        <li>
          <button routerLinkActive="active" routerLink="/sign-up" type="button" class="btn header-btn">شروع رایگان
          </button>
        </li>
        <li class="login-place-modify"><a routerLinkActive="active" routerLink="/login"
                                          class="txt-custom-black login-property">ورود</a></li>
      </ul>

    </div>
    <!-- Collapsible content -->
  </div>

</nav>
<!--Navbar-->

<!--First must call projectModal from modal.component and it is so important put this line outside of header
because in header i use z-index =1 and it made modal go under modal-background so this line can not be in
navBar tag and must place somewhere out-->
<app-modal #projectModal></app-modal>
<app-modal #addSocialModal></app-modal>
<app-modal #instagramm></app-modal>

<!--Navbar-->
<nav class="navbar navbar-expand bg-custom-gray
menu-direction header-height header-shadow" style="padding: 0; position: fixed; width: 100%; z-index: 1"
     *ngIf="appGlobal.isAuthenticated">

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" style="width: 100%">


    <div style="text-align: center">
      <a class="social-account-profile icon-plus"
         (click)="projectModal.openAddProjectModal()"
         data-toggle="modal" data-target="#projctModal"></a>
    </div>

    <div class="middle-content">
      <a class="social icon-instagram"
         [ngClass]="{'social-active': activeInstagramSocials == true,
         'icon-instagram-active': activeInstagramSocials == true}"></a>
      <a class="social icon-telegram"
         [ngClass]="{'social-active': activeTelegramSocials == true,
         'icon-telegram-active':  activeTelegramSocials == true}"></a>
      <a class="social icon-linkedin"
         [ngClass]="{'social-active': activeLinkedinSocials == true,
         'icon-linkedin-active': activeLinkedinSocials == true}"></a>
      <a class="social icon-twitter"
         [ngClass]="{'social-active': activeTwitterSocials == true,
         'icon-twitter-active': activeTwitterSocials == true}"></a>

      <a class="social icon-plus"
         (click)="addSocialModal.openAddSocialModal()"
         data-toggle="modal" data-target="#addSocialModal"></a>
    </div>

    <div style="text-align: center">
      <a class="profile icon-user" (click)="onLogoutSubmit()"></a>
      <!--<a class="profile" (click)="onLogoutSubmit()"><img src="assets/imgs/icons/user.svg" height="20"></a>-->
    </div>

  </div>
  <!-- Collapsible content -->
</nav>
<!--Navbar-->
