.menu-direction {
  direction: rtl;
}

.title-property {
  font-size: 15px;
  padding: 10px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}

.header-height {
  height: 70px;
}

.header-btn {
  background-color: rgb(253, 199, 27);
  color: black;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 150px;
  display: inline-block;
  border: none;
}

.login-property {
  font-size: 15px;
  padding: 5px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}

.login-place-modify {
  padding: 13px 13px 10px 13px;
}

// After Login Part
.header-shadow {
  -webkit-box-shadow: 0px 4px 19px 0px #c2c2c2; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 4px 19px 0px #c2c2c2; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 4px 19px 0px #c2c2c2; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-image: linear-gradient(to left, #6C299B 0,#6C299B 35%, #00337b 100%);
}

//box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];

.left-content {

}

.middle-content {
  width: 95%;
  text-align: center;
}

.right-content {

}

/* Create a custom circle */
.social-account-profile {
  position: relative;
  height: 37px;
  width: 37px;
  //background-color: white;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  margin-right: 20px;
  display: block;
}

/* Create a custom circle */
.social {
   position: relative;
   height: 37px;
   width: 37px;
   //background-color: white;
   border-radius: 50%;
   border: 2px solid #c2c2c2;
   margin-left: 5px;
   margin-right: 5px;
   display: inline-block;
 }

/* Create a custom circle */
.social-active {
  position: relative;
  height: 37px;
  width: 37px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

/* Create a custom circle */
.profile {
  position: relative;
  height: 37px;
  width: 37px;
  //background-color: white;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  margin-right: 0;
  margin-left: 20px;
  display: block;
}

.fit-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


//[data-icon]:before {
//  font-family: "acontly" !important;
//  content: attr(data-icon);
//  font-style: normal !important;
//  font-weight: normal !important;
//  font-variant: normal !important;
//  text-transform: none !important;
//  speak: none;
//  line-height: 1;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

.icon-user:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 5px;
  right: 7px;
  //font-weight: 500;
}

.icon-plus:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
  font-weight: bold !important;
}

.icon-instagram:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}

.icon-instagram-full:before {
  content: "\e917" !important;
  color: #b913bd !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}


.icon-telegram:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 7px;
  right: 7px;
}

.icon-telegram-full:before {
  content: "\e930" !important;
  color: #19b4ff !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 7px;
  right: 7px;
}

.icon-linkedin:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}

.icon-linkedin-full:before {
  content: "\e91b" !important;
  color: #004a73 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}


.icon-twitter:before {
  color: #c2c2c2 !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}

.icon-twitter-full:before {
  content: "\e933" !important;
  color: #95d8fe !important;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  top: 6px;
  right: 6px;
}








.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
  border-radius: 3px;
}
