<!--Navbar-->
<nav class="navbar navbar-expand bg-custom-gray menu-direction header-height"
     *ngIf="router.url !== '/login' &&
      router.url !== '/sign-up' && !appGlobal.isAuthenticated">
  <div class="container">

    <!-- Navbar brand -->
    <a routerLinkActive="active" routerLink="/" class="navbar-brand">
      <img src="assets/imgs/icons/carnotic.png" height="50">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse">

      <!-- Right Links -->
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" routerLink="/pricing" class="txt-custom-black title-property">قیمت گذاری</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/features" class="txt-custom-black title-property">ویژگی ها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/solutions" class="txt-custom-black title-property">راه کارها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/contact-us" class="txt-custom-black title-property">تماس با ما</a>
        </li>
      </ul>

      <ul class="nav navbar-nav mr-auto">
        <li>
          <button routerLinkActive="active" routerLink="/sign-up" type="button" class="btn header-btn">شروع رایگان
          </button>
        </li>
        <li class="login-place-modify"><a routerLinkActive="active" routerLink="/login"
                                          class="txt-custom-black login-property">ورود</a></li>
      </ul>

    </div>
    <!-- Collapsible content -->
  </div>

</nav>
<!--Navbar-->

<!--Navbar-->
<nav class="navbar navbar-expand bg-custom-gray
menu-direction header-height header-shadow" style="padding: 0"
     *ngIf="appGlobal.isAuthenticated">

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" style="width: 100%">
    <!--First must call projectModal from modal.component-->
    <app-modal #projectModal></app-modal>
    <div style="text-align: center">
      <a class="social-account-profile icon-plus"
         (click)="projectModal.openModal()"
         data-toggle="modal" data-target="#projctModal"></a>
    </div>

    <div class="middle-content">
      <a class="social icon-instagram"></a>
      <a class="social icon-telegram"></a>
      <a class="social icon-linkedin"></a>
      <a class="social icon-twitter"></a>
      <a class="social icon-plus"></a>
    </div>

    <div style="text-align: center">
      <a class="profile icon-user" (click)="onLogoutSubmit()"></a>
      <!--<a class="profile" (click)="onLogoutSubmit()"><img src="assets/imgs/icons/user.svg" height="20"></a>-->
    </div>

  </div>
  <!-- Collapsible content -->
</nav>
<!--Navbar-->






<!--<div mdbModal #projctModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="projctModal.hide()">-->
          <!--<span aria-hidden="true">×</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--...-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="projctModal.hide()" mdbWavesEffect>Close</button>-->
        <!--<button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
