<div class="content-container d-rtl">
  <div #boxPosition class="main-rectangular d-rtl" id="boxPosition" (window:resize)="onResize()">

    <div class="icon-linkedin" style="text-align: right;bottom: 58px;
    position: relative;
    font-size: 20px;
    font-weight: 500;">
      <p style="position: relative;
	    right: 29px;
    bottom: 33px;">لینکدین</p>
    </div>


    <div style="direction: ltr;position: relative;bottom: 115px;left: 45px;z-index: 1">
      <button class="switch-tab" [class.active]="viewMode == 'Post'" rel="Post" (click)="viewMode ='Post'">پست
      </button>
      <button class="switch-tab" [class.active]="viewMode == 'Article'" rel="Article" (click)="viewMode ='Article'"
              style="margin-left: 15px"
      >مقاله</button>
    </div>
    <div [ngSwitch]="viewMode">
      <form [formGroup]="createPostForm" style="position: relative;bottom: 60px;"
            id="Post" *ngSwitchCase="'Post'">
        <!--// syncing form with my html in this line-->
        <div class="file-txt-div">

          <div class="file-rectangular">

            <div class="icon-add-video-or-picture2" style="cursor: pointer"></div>
            <div class="upload-txt" style="cursor: pointer">بارگذاری عکس یا ویدئو</div>
            <div class="upload-tools-circle">
              <a class="icon-del"></a>
            </div>
            <div class="upload-tools-circle">
              <a class="icon-edit"></a>
            </div>
            <div class="upload-tools-circle">
              <a class="icon-preview"></a>
            </div>

          </div>


          <div class="form-group" style="text-align: right;width: 100%;position: relative">
          <textarea type="text" style="margin-bottom: 25px"
                    id="textAreaScroll"
                    formControlName="text"
                    placeholder="متن ..."
                    (keyup)="postLengthCheck('text')"
                    maxlength="2200">
          </textarea>
            <div class="layer"></div>

            <span *ngIf="createPostForm.controls['text'].valid"
                  class="text-counter">{{validTextLength}}</span>
            <a class="pre-saved-circle icon-Pre-saved-text"></a>
            <a class="icon-emoji"></a>

            <div>
              <span style="font-size: 14px;color: black;font-weight: 500">خاموش کردن کامنت گذاری</span>
              <label class="switch" style="right: 10px;top: 5px;margin-bottom: 0">
                <input type="checkbox"
                       formControlName="SwitchToggle"
                       (click)="SwitchStatus()">
                <span class="slider round"></span>
              </label>
            </div>


            <div style="width: 101%;text-align: left">
              <button type="submit" class="btn draft-btn" (click)="onDraftSubmit()">
                <span>ذخیره</span>
              </button>
              <button type="submit" class="btn publishNow-btn" (click)="onPublishNowSubmit()">
                <span>الان</span>
              </button>
              <button type="submit" class="btn schedule-btn" (click)="onScheduleSubmit()">
                بعدا
              </button>
            </div>

          </div>

        </div>

      </form>


      <form [formGroup]="createArticleForm" style="position: relative;bottom: 60px;" id="Article" *ngSwitchCase="'Article'">

        <div class="cover">

          <div class="icon-add-video-or-picture2" style="cursor: pointer"></div>
          <div class="upload-txt" style="cursor: pointer">بارگذاری عکس یا ویدئو</div>
          <div class="upload-tools-circle" style="top: 210px;">
            <a class="icon-del"></a>
          </div>
          <div class="upload-tools-circle" style="top: 210px;">
            <a class="icon-edit"></a>
          </div>
          <div class="upload-tools-circle" style="top: 210px;">
            <a class="icon-preview"></a>
          </div>

        </div>

      </form>

    </div>

  </div>
</div>
