<!--Testimonial section-->
<div class="testimonial-bg">
  <div class="testimonial-container">
    <div style="width: 100%;">
      <p class="txt-custom-black testimonial-title">نگاه مشتریان</p>
      <div class="row d-rtl">
        <div class="img-pd">
          <img class="testimonial-img-border" src="/assets/imgs/testonomial.png" height="186px" width="186px">
          <img class="testimonial-back-img" src="/assets/imgs/backOfcustomer.png" height="273px" width="445px">
        </div>
        <div class="testimonial--txt-pd">
          <p class="testimonial-name">علی رضا داوودی نژاد</p>
          <p class="testimonial-job-position">مدیر مارکتینگ علی بابا</p>
          <p class="testimonial-comment">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Testimonial section-->
