<!--Suitable for company,agency,business-->
<div class="suitability-bg">
  <div class="suitability-container">
    <div>
      <p class="txt-custom-black suitability-text cl-md-12">برای چه کسانی مناسب است؟</p>
      <div class="main-box">

        <div class="card" *ngFor='let valueP of vp'>
          <img class="img-border" src="/assets/imgs/home-top-banner.jpg" height="80px" width="80px">
        </div>
        <button routerLinkActive="active" routerLink="/app/sign-up" class="btn btn-property">
          شروع رایگان
        </button>
      </div>
    </div>
  </div>
</div>
<!--Suitable for company,agency,business-->
