.file-txt-div {
  display: inline-flex;
  justify-content: right;
  width: 100%;
  margin-top: 5px;
  padding-right: 4.752%;
  padding-left: 4.752%;

}

::placeholder {
  color: #c2c2c2;
}

.file-rectangular {
  height: 137px;
  width: 137px;
  min-width: 137px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: white;
  margin-left: 36px;
}

.switch-tab {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: white;
  //box-shadow: none|h-offset v-offset blur spread color
  box-shadow: 0 2px 10px 0 #c2c2c2;
  border: none;
  outline: none;
  cursor: pointer;
}

.switch-tab.active {
  color: #55d6be;
}

textarea {
  height: 168px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: white;
  direction: rtl;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: black;
  outline: none;
  //box-sizing: border-box;
  resize: none;
  font-weight: 500;
}

textarea:focus {
  border: 1px solid #55d6be;
}

.icon-add-video-or-picture2:before {
  color: #c2c2c2 !important;
  font-size: 36px;
  position: relative;
  top: 30px;
  left: 52px;
}

.upload-txt {
  font-size: 10px;
  font-weight: 500;
  color: #c2c2c2;
  top: 28px;
  left: 25px;
  position: relative;
}

/* Create a custom circle */
.upload-tools-circle {
  height: 31px;
  width: 31px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #c2c2c2;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 60px;
  left: 5px;
}

.icon-del:before {
  color: #c2c2c2 !important;
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  right: 8px;
  top: 4px;
}

.icon-edit:before {
  color: #c2c2c2 !important;
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  right: 8px;
  top: 4px;
}

.icon-preview:before {
  color: #c2c2c2 !important;
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  right: 7px;
  top: 5px;
}

.icon-Pre-saved-text:before {
  color: white !important;
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  right: 6px;
  top: 3px;
}

.icon-emoji:before {
  color: #c2c2c2 !important;
  font-size: 16px;
  margin-left: 20px;
  position: absolute;
  top: 141px;
  right: 50px;
}

.text-counter {
  font-size: 13px;
  font-weight: 500;
  color: #c2c2c2;
  position: absolute;
  top: 145px;
  left: 10px;
}

// Scroll settings
#textAreaScroll::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //background-color: #ffffff;
  //opacity: 0.01;
  //width: 1px;
}

// Scroll settings
#textAreaScroll::-webkit-scrollbar {
  width: 4px;
}

// Scroll settings
#textAreaScroll::-webkit-scrollbar-thumb {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #5ba7b4;
  border-radius: 5px;

}

.icon-user1:before {
  content: "\63";
  color: #6c299b !important;
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  top: 293px;
  left: -1%;
}

.icon-user1-off:before {
  content: "\63";
  color: #dddddd !important;
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  top: 293px;
  left: -1%;
}


.draft-btn {
  height: 35px;
  width: 90px;
  border-radius: 17px;
  background: linear-gradient(to left, #6C299B, #00337b);
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: #6C299B;
  padding: 1px;
  box-shadow: none;
}

.draft-btn span {
  background: white;
  padding: 9px 1px;
  border-radius: 15px;
  display: block;
}
.publishNow-btn {
  height: 35px;
  width: 90px;
  border-radius: 17px;
  background: linear-gradient(to left, #6C299B, #00337b);
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: #6C299B;
  padding: 1px;
  box-shadow: none;
}

.publishNow-btn span {
  background: white;
  padding: 9px 1px;
  border-radius: 15px;
  display: block;
}

.schedule-btn {
  height: 35px;
  width: 90px;
  border-radius: 17px;
  text-align: center;
  line-height: 15px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: white;
  padding: 0;
  background-image: linear-gradient(to left, #6C299B, #00337b);
  background-repeat: no-repeat;
  box-shadow: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #c2c2c2;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 17px;
  background-color: #c2c2c2;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
  border: 1px solid #6c299b;
}

input:checked + .slider:before {
  background-color: #6c299b;
}

input:focus + .slider {
  //box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 9px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-flat .switch-label {
  background: #FFF;
  border: solid 2px #eceeef;
  box-shadow: none;
}

.switch-flat .switch-label:after {
  color: #0088cc;
}

.switch-flat .switch-handle {
  top: 6px;
  left: 6px;
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}

.switch-flat .switch-handle:before {
  background: #eceeef;
}

.switch-flat .switch-input:checked ~ .switch-label {
  background: #FFF;
  border-color: #0088cc;
}

.switch-flat .switch-input:checked ~ .switch-handle {
  left: 72px;
  background: #0088cc;
  box-shadow: none;
}



.layer {
  height: 30px;
  width: 98%;
  top: 137px;
  right: 5px;
  position: absolute;
  background-color: white;
}

/* Create a custom circle */
.pre-saved-circle {
  height: 25px;
  width: 25px;
  background-color: #55D6BE;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  position: absolute;
  top: 135px;
  right: 8px;
}


//Article Part
.cover {
  width: 100%;
  height: 284px;
  background-color: #e0e0e0;
  bottom: 90px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.cover .icon-add-video-or-picture2:before {
  color: white !important;
  font-size: 36px;
  position: relative;
  top: 115px;
  left: 5px;
}

.cover .upload-txt {
  font-size: 10px;
  font-weight: 500;
  color: white;
  top: 120px;
  left: 5px;
  position: relative;
}
