// Css for Value Proposition background and overall section div
.bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.back-rectangle {
  height: 438px;
  width: 721px;
  min-height: 313px;
  box-shadow: 0 0 25px black; //applying shadow to 4 sides of card
  border-radius: 5px;
  position: relative;
  /* gradient shining border */
  background-image: linear-gradient(to bottom right, #6c299b, #55d6be);
  background-repeat: no-repeat;
  //background-size: 100% 78px; // first number for width and second number for height of background
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-rectangle {
  height: 474px;
  width: 659px;
  min-height: 313px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  margin-top: 158px; //This will be apply in firefox
  margin-bottom: 70px;
  padding-top: 10px;
  //background-size: 100% 78px; // first number for width and second number for height of background
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .front-rectangle {
    margin-top: 79px; //This will be apply in chrome
  }
}

@-moz-document url-prefix() {
  .front-rectangle {
    margin-top: 225px;
  }
}

.title-property {
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  position: relative;
}

.title-property:hover {
  color: #55ecda;
}

.title-position {
  padding-left: 275px;
}

input[type=text] {
  height: 34px;
  width: 398px;
  border-radius: 18px;
  border: 1px solid #55d6be;
  direction: rtl;
  padding-right: 20px;
  font-size: 13px;
  color: black;
  font-weight: 500;
  margin-top: 25px;
  outline: none;
}

input[type=text]:focus {
  border: 1px solid #6c299b;
}

input[type=submit] {
  background-color: #E7fff4;
}

// Removing the yellow autoFill background in chrome
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input.ng-invalid.ng-dirty {
  border: 1px solid #c90000;
}

::placeholder {
  color: #c2c2c2;
}

.flex-box-position {
  //margin-bottom: 380px;
  max-width: 659px;
  flex-grow: 1;
  position: absolute;
  top: 8px;
  width: 100%;
}

.flex-box-txt {
  display: inline-block;
  position: relative;
  width: 50%;
  text-align: center;
}

.check-box-position {
  //margin-right: 145px;
  //cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  //float: right; //make go to right
  //margin-top: 30px;
  margin-left: 15px;
  color: #c2c2c2;
}

/* Hide the browser's default radio button */
.check-box-position input {
  position: absolute;
  opacity: 0;
  //cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  display: inline-block;
  top: 3px;
  //cursor: pointer;
  margin-left: 4px;
}

/* On mouse-over, add a grey background color */
.check-box-position:hover input ~ .checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.check-box-position input:checked ~ .checkmark {
  background-color: #6c299b;
}

.sign-up-btn {
  background-color: #6c299b;
  color: white;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: auto;
  display: inline-block;
  border: none;
}

.sign-up-btn-position {
  display: block;
}

.flex-box2-txt {
  display: inline-flex;
  position: relative;
  width: 44%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.flex-box3-txt {
  //margin-bottom: 10px;
  margin-top: 10px;
}

.help-block {
  font-size: 11px;
  color: #c90000;
  font-weight: 500;
  display: block;
  margin-top: 62px;
  direction: rtl;
  position: absolute;
  width: 273px;
  float: right;
  right: 20px;
}

.help-block1 {
  font-size: 11px;
  color: #c90000;
  font-weight: 500;
  display: block;
  margin-top: 5px;
  //width: 506px;
  direction: rtl;
  position: absolute;
  right: 150px;
  text-align: right;
  //right: 0;
  //left: 220px;
}

/* Create a custom checkbox */
.checkmark1 {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: #55d6be;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  display: inline-block;
  top: 3px;
  //cursor: pointer;
  margin-left: 4px;
}

/*the container must be positioned relative:*/
.select-menu-box {
  position: relative;
}

.select-menu-box select {
  display: none; /*hide original SELECT element:*/
}

.select-dropDown {
  height: 34px;
  width: 398px;
  border-radius: 18px;
  font-weight: 500;
  border: 1px solid #55d6be;
  direction: rtl;
  padding-right: 20px;
  font-size: 13px;
  color: black;
  margin-top: 25px;
  outline: none;
  -webkit-appearance: none; /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  cursor: pointer;
  background-color: white;
}

select:focus {
  border: 1px solid #6c299b;
}

.option-style {
  color: black;
}

// Responsive Part
@media screen and (max-width: 992px) {
  .front-rectangle {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .back-rectangle {
    width: 96%;
  }
  .front-rectangle {
    width: 92.5%;
    margin-bottom: 70px;
  }
  .flex-box3-txt {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  input[type=text] {
    width: 100%;
  }
  .help-block1 {
    padding-right: 3.5%;
    width: 100%;
    right: 20%;
  }

}

@media screen and (max-width: 576px) {
  .back-rectangle {
    width: 96%;
    height: 754px;
  }
  .front-rectangle {
    width: 92.5%;
    margin-bottom: 70px;
    height: 800px;
  }
  .flex-box2-txt {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 16px;
  }
  input[type=text] {
    width: 91%;
  }
  .select-dropDown {
    width: 91%;
  }
  .flex-box3-txt {
    margin-bottom: 16px;
    margin-top: 0;
  }
  .help-block {
    margin-top: 5px;
    width: 100%;
    text-align: right;
    padding-right: 5%;
  }
  .help-block1 {
    margin-top: 5px;
    width: 100%;
    text-align: right;
    padding-right: 5%;
    float: right;
    right: 20px;
  }
  .check-box-position {
    margin-right: 9%;
    margin-left: 0;
    width: 40%;
    text-align: right;
  }
  .checkbox-position-mobile-set {
    padding-right: 9%;
    padding-left: 4%;
  }
}
