<!--Top Main Banner-->
<!--[routerLinkActiveOptions]="{exact:true}"-->
<!--<div class="container">-->
<div class="top-banner-bg" style="padding-top: 70px;background-image: url('/assets/imgs/home-top-banner.jpg')"
     routerLinkActive="active"
     routerLink="/">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!-- Content -->
  <div class="container-top-banner">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="text-center"> <!--//text-center need to make button align in center of screen-->
        <h1 class="txt-custom-white slogan-property">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است.</h1>
        <button routerLinkActive="active" routerLink="/sign-up" class="btn top-banner-btn">
          شروع رایگان
        </button>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>
<!--<button class="btn top-banner-btn "-->
<!--(click)="openRegisterModal()">-->
<!--عضویت رایگان-->
<!--</button>-->

<!--Value Proposition-->
<div class="vp-bg">
  <div class="vp-container">
    <div class="vp-section">
      <!--Grid row-->
      <div class="row d-rtl" *ngFor='let valueP of vp ; let i=index' [class.d-rtl]="i%2 == 0">
        <!--Grid column-->
        <div class="vp-txt-pd">
          <h1 class="vp-title">{{ valueP.title }}</h1>
          <h2 class="vp-subtitle">{{ valueP.description }}</h2>
          <button class="btn vp-btn">
            بیشتر یاد بگیرید
          </button>
        </div>
        <div class="padding-left" [class.padding-right]="i%2 == 0">
          <img class="img-overlay-txt" src="{{ valueP.imagePath }}" height="322" width="906">
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
</div>
<!--Value Proposition-->


<!--Suitable for company,agency,business-->
<div class="suitability-bg">
  <div class="suitability-container">
    <div>
      <p class="txt-custom-black suitability-text cl-md-12">برای چه کسانی مناسب است؟</p>
      <div class="main-box">
        <div class="card" *ngFor='let valueP of vp'>
          <img class="img-border" src="/assets/imgs/home-top-banner.jpg" height="80px" width="80px">
        </div>
        <button routerLinkActive="active" routerLink="/sign-up" class="btn top-banner-btn">
          شروع رایگان
        </button>
      </div>
    </div>
  </div>
</div>
<!--Suitable for company,agency,business-->


<!--Testimonial section-->
<div class="testimonial-bg">
  <div class="testimonial-container">
    <div>
      <p class="txt-custom-black testimonial-title cl-md-12">نگاه مشتریان</p>
      <div class="row d-rtl">
        <div class="img-pd">
          <img class="testimonial-img-border" src="/assets/imgs/testonomial.png" height="186px" width="186px">
          <img class="testimonial-back-img" src="/assets/imgs/backOfcustomer.png" height="273px" width="445px">
        </div>
        <div class="testimonial--txt-pd">
          <p class="testimonial-name">علی رضا داوودی نژاد</p>
          <p class="testimonial-job-position">مدیر مارکتینگ علی بابا</p>
          <p class="testimonial-comment">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Testimonial section-->


<!--End target section-->
<div class="end-bg">
  <div class="end-container">

    <div class="End-card">
      <p class="end-card-txt d-rtl">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
        گرافیک
        است</p>
      <button routerLinkActive="active" routerLink="/sign-up" class="btn top-banner-btn">
        شروع رایگان
      </button>
    </div>

  </div>
</div>
<!--End target section-->
