// Css for top image and this div context
.top-banner-bg {
  /* height and width */
  height: 400px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  /* To make all context justify center*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// Css for overlay top banner
.top-banner-overlay {
  background: #6c299b;
  opacity: 0.59;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Css for slogan top banner
.slogan-property {
  font-size: 24px;
  line-height: 41px;
  font-weight: 500;
  text-align: center;
  direction: rtl;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding-top: 20px;
  position: relative; //necessary to make context come over overlay
  z-index: 1; //necessary to make context come over overlay
}

// Css for button in top banner
.top-banner-btn {
  background-color: rgb(253, 199, 27);
  color: black;
  border-radius: 25px;
  border: none;
  text-align: center;
  line-height: 15px;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 170px;
  //display: inline-block;
  margin-top: 35px;
  position: relative; //necessary to make context come over overlay
  z-index: 1; //necessary to make context come over overlay
}

// Css for improving some issue in responsive in top banner div
.container-top-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

////<--Slogan padding modification-->
//@media (min-width: 992px) {
//  .slogan-pm {
//    /* Maximum character must be 92 with space */
//    width: 100%;
//    padding-right: 150px;
//    padding-left: 150px;
//  }
//}
//
///* No greater than 991px, no less than 768px */
//@media (max-width:991px) and (min-width:768px) {
//  .slogan-pm {
//    width: 100%;
//    padding-right: 50px;
//    padding-left: 50px;
//  }
//}
//
///* No greater than 767px*/
//@media (max-width:767px) {
//  .slogan-pm {
//    width: 100%;
//    padding-right: 5px;
//    padding-left: 5px;
//  }
//}
////<--Slogan padding modification-->

// Css for Value Proposition background and overall section div
.vp-bg {
  background-color: rgb(250, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// Css for setting container of value proposition context | this part must change related to media query
.vp-container {
  width: 950px;
  display: flex;
  justify-content: right;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

// Css for setting div of value proposition context | this part must change related to media query
.vp-section {
  padding-top: 110px;
  width: 950px;
}

// Css for value proposition title | this part must change related to media query
.vp-title {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
  padding-top: 40px;
  //position: relative; //necessary to make context come over overlay
  //z-index: 1; //necessary to make context come over overlay
}

// Css for value proposition subtitle | this part must change related to media query
.vp-subtitle {
  font-size: 17px;
  line-height: 31px;
  font-weight: 500;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 30px;
  //position: relative; //necessary to make context come over overlay
  //z-index: 1; //necessary to make context come over overlay
}

// Css for div of text | this part must change related to media query
.vp-txt-pd {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 100px;
  position: absolute;
  z-index: 1;
  width: 60%;
}

// Css for button | this part must change related to media query
.vp-btn {
  background-color: #6c299b;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 145px;
  padding: 0px;
  display: block;
  float: right; //this make button be align right of it's div at all moment
  //position: relative; //necessary to make context come over overlay
  //z-index: 1; //necessary to make context come over overlay
}

// This css are smart and use for making context right to left or left to right based on UI design
.d-rtl {
  direction: rtl;
}

.d-ltr {
  direction: ltr;
}

// Css for making image and text overlay on each other
.img-overlay-txt {
  //width: 100%;
  //height: 100%;
  margin-bottom: 100px;
  position: relative;
  z-index: 0;
}

// Css for making our images looking nicer and closer to text
.padding-left {
  padding-left: 250px;
}

.padding-right {
  padding-right: 250px;
}

// Css for Value Proposition background and overall section div
.suitability-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

// Css for setting container of value proposition context | this part must change related to media query
.suitability-container {
  //width: 950px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.suitability-text {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  direction: rtl;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

.card {
  width: 326px;
  min-height: 313px;
  box-shadow: 0 0 25px #c1c1c1; //applying shadow to 4 sides of card
  border-radius: 5px;
  position: relative;
  margin-right: 45px;
  margin-left: 45px;
  margin-bottom: 25px;
  /* gradient shining border */
  background-image: linear-gradient(to left, #75e7a4, #fae232);
  background-repeat: no-repeat;
  background-size: 100% 78px; // first number for width and second number for height of background
}

.main-box {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.img-border {
  border-radius: 50%;
  margin-left: 125px;
  margin-top: 30px;
  border: 4px solid white;
}

.testimonial-bg {
  background-color: #E7fff4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  height: 400px;
}

.testimonial-container {
  width: 1150px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.testimonial-title {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  direction: rtl;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.testimonial-name {
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  direction: rtl;
  font-weight: 500;
  //padding-top: 30px;
  //padding-bottom: 30px;
  //position: relative;
}

.testimonial-job-position {
  font-size: 13px;
  line-height: 22px;
  text-align: right;
  direction: rtl;
  font-weight: 500;
  //padding-top: 30px;
  //padding-bottom: 30px;
  //position: relative;
}

.testimonial-comment {
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  direction: rtl;
  font-weight: 500;
  //padding-top: 30px;
  //padding-bottom: 30px;
  //position: relative;
}

.testimonial-img-border {
  border-radius: 50%;
  margin-right: 160px;
  margin-top: 50px;
  border: 4px solid white;
  position: absolute;
  z-index: 2;
}

.testimonial-back-img {
  position: absolute;
  z-index: 1;
}

.img-pd {
  padding-left: 440px;
  //height: ;
  //margin-bottom: 80px;
}

.testimonial--txt-pd {
  position: relative;
  z-index: 3;
  width: 45%;
  padding-top: 45px;
  height: 250px;
  //padding-bottom: 37px;
  //margin-right: 430px;
}

.end-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  height: 345px;
}

.end-container {
  width: 950px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.End-card {
  width: 750px;
  height: 250px;
  box-shadow: 0 0 25px #c1c1c1; //applying shadow to 4 sides of card
  border-radius: 5px;
  position: relative;
  background-color: #Faffff;
  //margin-right: 45px;
  //margin-left: 45px;
  //margin-bottom: 25px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

.end-card-txt {
  font-size: 22px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}

.end-card-btn {
  background-color: rgb(253, 199, 27);
  color: black;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 170px;
}
