.end-bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 345px;
}

.end-container {
  width: 950px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.End-card {
  width: 730px;
  //height: 250px;
  height: auto;
  box-shadow: 0 0 25px #c1c1c1; //applying shadow to 4 sides of card
  border-radius: 5px;
  position: relative;
  background-color: #Faffff;
  //margin-right: 45px;
  //margin-left: 45px;
  //margin-bottom: 25px;
  padding: 50px;
  text-align: center;
}

.end-card-txt {
  font-size: 21px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}

.end-card-btn {
  background-color: rgb(253, 199, 27);
  color: black;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  width: 170px;
}

@media screen and (max-width: 768px) {

  .End-card {
    width: 90%;
  }
}
