<!--Top Main Banner-->
<div class="top-banner-bg" style="padding-top: 70px; background-image: url('/assets/imgs/home-top-banner.jpg')">

  <!--Overlay-->
  <div class="top-banner-overlay"></div>
  <!--Overlay-->

  <!-- Content -->
  <div class="container-top-banner">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="text-center"> <!--//text-center need to make button align in center of screen-->
        <h1 class="txt-custom-white slogan-property">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است.</h1>
        <button routerLinkActive="active" routerLink="/app/sign-up" class="btn top-banner-btn">
          شروع رایگان
        </button>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Content -->
</div>
<!--Top Main Banner-->

<app-value-proposition></app-value-proposition>
<!--<app-used-for></app-used-for>-->
<app-testimonial></app-testimonial>
<app-end-target></app-end-target>
