.modal-container {
  height: 100%;
  width: 100%;
}

.modal-size {
  height: 452px;
  width: 673px;
  border-radius: 5px;
}

input[type=text] {
  height: 34px;
  width: 398px;
  border-radius: 18px;
  border: 1px solid #55d6be;
  direction: rtl;
  padding-right: 20px;
  font-size: 13px;
  color: black;
  margin-top: 25px;
  outline: none !important;
}

input[type=text]:focus {
  border: 1px solid #6c299b;
}

input[type=submit] {
  background-color: #E7fff4;
}

// Removing the yellow autoFill background in chrome
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input.ng-invalid.ng-dirty {
  border: 1px solid #c90000;
}

::placeholder {
  color: #c2c2c2;
}

.help-block {
  font-size: 11px;
  color: #c90000;
  font-weight: 500;
  display: block;
  margin-top: 5px;
  width: 506px;
  direction: rtl;
  position: absolute;
  text-align: right;
  margin-right: 125px;
}

.select-dropDown {
  height: 34px;
  width: 398px;
  border-radius: 18px;
  font-weight: 500;
  border: 1px solid #55d6be;
  direction: rtl;
  padding-right: 20px;
  font-size: 13px;
  color: black;
  margin-top: 25px;
  outline: none;
  -webkit-appearance: none; /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  cursor: pointer;
}

select:focus {
  border: 1px solid #6c299b;
}

.option-style {
  color: black;
}

.create-project-btn-position {
  display: block;
}

.create-project-btn {
  background-color: #6c299b;
  color: white;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: auto;
  display: inline-block;
  border: none;
  box-shadow: none;
}

// ADD social Modal
.addSocialModal-size {
  height: 257px;
  width: 657px;
  border-radius: 5px;
}

/* Create a custom circle */
.socialProject {
  position: relative;
  height: 52px;
  width: 52px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  margin-left: 18px;
  margin-right: 18px;
  display: inline-block;
  padding-top: 4px;
  box-shadow: 0 2px 6px 0 #c2c2c2;
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: "acontly" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  color: #b913bd !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
  //font-weight: 500;
}

.icon-telegram:before {
  color: #19b4ff !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 11px;
  right: 10px;
  //font-weight: 500;
}

.icon-linkedin:before {
  color: #004a73 !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
  //font-weight: 500;
}

.icon-twitter:before {
  color: #95d8fe !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
  //font-weight: 500;
}

.cancel-btn {
  background-color: white;
  color: #6c299b;
  border-radius: 25px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: auto;
  display: inline-block;
  border: 1px solid #6c299b;
  box-shadow: none;
}

/* Create a custom circle */
.activeInstagram {
  position: relative;
  height: 52px;
  width: 52px;
  background-color: #b913bd;
  border-radius: 50%;
  border: 1px solid #b913bd;
  margin-left: 18px;
  margin-right: 18px;
  display: inline-block;
  padding-top: 4px;
  box-shadow: 0 2px 6px 0 #c2c2c2;
}

/* Create a custom circle */
.activeTelegram {
  position: relative;
  height: 52px;
  width: 52px;
  background-color: #19b4ff;
  border-radius: 50%;
  border: 1px solid #19b4ff;
  margin-left: 18px;
  margin-right: 18px;
  display: inline-block;
  padding-top: 4px;
  box-shadow: 0 2px 6px 0 #c2c2c2;
}

/* Create a custom circle */
.activeLinkedin {
  position: relative;
  height: 52px;
  width: 52px;
  background-color: #004a73;
  border-radius: 50%;
  border: 1px solid #004a73;
  margin-left: 18px;
  margin-right: 18px;
  display: inline-block;
  padding-top: 4px;
  box-shadow: 0 2px 6px 0 #c2c2c2;
}

/* Create a custom circle */
.activeTwitter {
  position: relative;
  height: 52px;
  width: 52px;
  background-color: #95d8fe;
  border-radius: 50%;
  border: 1px solid #95d8fe;
  margin-left: 18px;
  margin-right: 18px;
  display: inline-block;
  padding-top: 4px;
  box-shadow: 0 2px 6px 0 #c2c2c2;
}

.icon-instagram-full:before {
  content: "\e917" !important;
  color: white !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
}

.icon-telegram-full:before {
  content: "\e930" !important;
  color: white !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 11px;
  right: 10px;
}

.icon-linkedin-full:before {
  content: "\e91b" !important;
  color: white !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
}

.icon-twitter-full:before {
  content: "\e933" !important;
  color: white !important;
  font-size: 25px;
  margin-left: 20px;
  position: relative;
  top: 10px;
  right: 9px;
}
