<div class="d-rtl">

  <div class="narrowSideNavBar" id="closeSideNav" style="text-align: right;">

    <div class="narrowSideNavBar-scroll">

      <li class="li-margin-icon">
        <a class="icon-menu" (click)="Open()"></a>
      </li>


      <li class="li-margin-icon">
        <a class="icon-Calendar"
           (click)="overviewSideNav();clickIcon('overview');overviewClick('overview')"
           [ngClass]="{'current-icon' : iconActive == 'overview'}"
           routerLinkActive="active" routerLink="./analysis-overview"></a>
      </li>

      <hr class="hr-style" style="margin-bottom: -16px">


      <li class="li-margin-icon">
        <a class="icon-content"
           (click)="subSideNav('content-production');clickIcon('content-production');contentClick(contentCurrentPosition)"
           [ngClass]="{'current-icon' : iconActive == 'content-production','current-txt' : linkActive == 'content-production'}"
           routerLinkActive="active" routerLink="./content/production"
        ></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-Calendar"
           (click)="overviewSideNav();clickIcon('calendar');calendarClick('calendar')"
           [ngClass]="{'current-icon' : iconActive == 'calendar'}"
           routerLinkActive="active" routerLink="./calendar">

        </a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-team-member"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-notification"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-analyze"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-CRM"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-project"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')"></a>
      </li>

    </div>
  </div>


  <div class="main-sideNavBar" id="openSideNav" style="text-align: right">

    <div class="main-sideNavBar-scroll">

      <li class="li-margin-icon" style="direction: rtl">
        <a class="icon-menu" (click)="Close()"></a>
      </li>


      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-Calendar"
           (click)="overviewSideNav();clickIcon('overview');overviewClick('overview')"
           [ngClass]="{'current-icon' : iconActive == 'overview','current-txt' : linkActive == 'overview'}"
           routerLinkActive="active" routerLink="./analysis-overview">
          بررسی اجمالی</p>
      </li>

      <hr class="hr-style" style="margin-bottom: -16px">

      <li class="li-margin-icon" style="margin-top: 5px" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-content"
           (click)="subSideNav('content-production');clickIcon('content-production');contentClick(contentCurrentPosition)"
           [ngClass]="{'current-icon' : iconActive == 'content-production','current-txt' : linkActive == 'content-production'}"
           routerLinkActive="active" routerLink="./content/production">محتوا</p>
      </li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-Calendar"
           (click)="overviewSideNav();clickIcon('calendar');calendarClick('calendar')"
           [ngClass]="{'current-icon' : iconActive == 'calendar','current-txt' : linkActive == 'calendar'}"
           routerLinkActive="active" routerLink="./calendar">تقویم</p></li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-team-member"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')">اعضای تیم</p></li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-notification"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')">اعلان ها</p></li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-analyze"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')">آنالیز</p></li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-CRM"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')">مدیریت مخاطبان</p></li>

      <li class="li-margin-icon" style="direction: rtl;cursor: pointer">
        <p class="sideNavBar-txt icon-project"
           routerLinkActive="active" routerLink=""
           (click)="subSideNav('content-production')">مدیریت پروژه ها</p></li>

    </div>

  </div>


  <div class="subtitle-sideNavBar" id="subTitleSideNav" style="text-align: right">

    <div *ngIf="titleID === 'content-production'" style="padding-top: 68px">

      <li class="">
        <p class="sideNavBarSubtitle-txt" style="cursor: pointer"
           (click)="contentClick('content-production')"
           [ngClass]="{'current-txt' : linkActive == 'content-production'}"
           routerLinkActive="active" routerLink="./content/production"
        >
          ایجاد محتوا</p></li>

      <li class="">
        <p class="sideNavBarSubtitle-txt" style="cursor: pointer"
           (click)="contentClick('all-content')"
           [ngClass]="{'current-txt' : linkActive == 'all-content'}"
           routerLinkActive="active" routerLink="./content/all">
          همه محتواها</p></li>

    </div>

  </div>

</div>


