<div class="d-rtl">

  <div class="narrowSideNavBar" id="closeSideNav" style="text-align: right;">

    <div class="narrowSideNavBar-scroll">

      <li class="li-margin-icon">
        <a class="icon-menu" (click)="Open()"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content-overview"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./analysis-overview"></a>
      </li>

      <hr class="hr-style" style="margin-bottom: -16px; margin-top: 13px">

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content/production"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

      <li class="li-margin-icon">
        <a class="icon-calendar"
           routerLinkActive="active" routerLink="./content"
           (click)="subSideNav('content-production')"></a>
      </li>

    </div>
  </div>


  <div class="main-sideNavBar" id="openSideNav" style="text-align: right">

    <div class="main-sideNavBar-scroll">

      <li class="li-margin-icon" style="direction: rtl">
        <a class="icon-menu" (click)="Close()"></a>
      </li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-overview">
          محتوا</a>
      </li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./analysis-overview">
          آمار و ارقام</a>
      </li>

      <hr class="hr-style" style="margin-bottom: -16px; margin-top: 13px" >

      <li class="li-margin-icon" style="margin-top: 5px" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content/production"
           (click)="subSideNav('content-production')">
          محتوا</a>
      </li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">تقویم</a></li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">اعضای تیم</a></li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">اعلان ها</a></li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">آنالیز</a></li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">مدیریت مخاطبان</a></li>

      <li class="li-margin-icon" style="direction: rtl">
        <a class="sideNavBar-txt icon-calendar"
           routerLinkActive="active" routerLink="./content-production"
           (click)="subSideNav('content-production')">پروژه ها</a></li>

    </div>

  </div>


  <div class="subtitle-sideNavBar" id="subTitleSideNav" style="text-align: right">

    <div *ngIf="titleID == 'content-production'" style="padding-top: 68px" >

      <li class="">
        <p class="sideNavBarSubtitle-txt" style="cursor: pointer"
           routerLinkActive="active" routerLink="./content/production">
          ایجاد محتوا</p></li>

      <li class="">
        <p class="sideNavBarSubtitle-txt" style="cursor: pointer"
           routerLinkActive="active" routerLink="./content/all">
          همه محتواها</p></li>

    </div>

  </div>

</div>


