<div class="icon-telegram" style="text-align: right;bottom: 58px;
    position: relative;
    font-size: 20px;
    font-weight: 500;">
  <p style="position: relative;
	    right: 29px;
    bottom: 33px;">تلگرام</p>
</div>

<form [formGroup]="createPostForm">  <!--// syncing form with my html in this line-->
  <div class="file-txt-div">

    <div class="file-rectangular">

      <div class="icon-add-video-or-picture2" style="cursor: pointer"></div>
      <div class="upload-txt" style="cursor: pointer">بارگذاری عکس یا ویدئو</div>
      <div class="upload-tools-circle">
        <a class="icon-del"></a>
      </div>
      <div class="upload-tools-circle">
        <a class="icon-edit"></a>
      </div>
      <div class="upload-tools-circle">
        <a class="icon-preview"></a>
      </div>

    </div>


    <div class="form-group" style="text-align: right;width: 100%;position: relative">
          <textarea type="text" style="margin-bottom: 25px"
                    id="textAreaScroll"
                    formControlName="text"
                    placeholder="متن ..."
                    (keyup)="postLengthCheck('text')"
                    maxlength="2200">
          </textarea>
      <div class="layer"></div>
      <!--<span class="icon-user"></span>-->
      <span *ngIf="createPostForm.controls['text'].valid"
            class="text-counter">{{validTextLength}}</span>
      <a class="pre-saved-circle icon-Pre-saved-text"></a>
      <a class="icon-emoji"></a>

      <div>
        <span style="font-size: 14px;color: black;font-weight: 500">خاموش کردن کامنت گذاری</span>
        <label class="switch" style="right: 10px;top: 5px;margin-bottom: 0">
          <input type="checkbox"
                 formControlName="SwitchToggle"
                 (click)="SwitchStatus()">
          <span class="slider round"></span>
        </label>
      </div>


      <textarea *ngIf="!mySwitch;else switch"
                style="margin-top: 10px;margin-bottom: 13px" type="text"
                id="commentAreaScroll"
                formControlName="comment"
                placeholder="کامنت اول ..."
                (keyup)="postLengthCheck('comment')">
          </textarea>
      <ng-template #switch>
            <textarea readonly
                      style="margin-top: 10px;margin-bottom: 13px" type="text"
                      id="commentAreaOffScroll"
                      [value]="searchValue"
                      formControlName="comment"
                      placeholder="کامنت اول ...">
            </textarea>
      </ng-template>

      <!--<span *ngIf="!mySwitch;else switchIcon" class="icon-user1"></span>-->
      <!--<ng-template #switchIcon>-->
      <!--<span class="icon-user1-off"></span>-->
      <!--</ng-template>-->

      <span *ngIf="!mySwitch && createPostForm.controls['comment'].valid;else switchIcon"
            class="comment-counter">{{validCommentLength}}</span>
      <ng-template #switchIcon>
        <span></span>
      </ng-template>


      <div style="width: 101%;text-align: left">
        <button type="button" class="btn draft-btn">
          ذخیره
        </button>
        <button type="button" class="btn publishNow-btn">
          الان
        </button>
        <button type="button" class="btn schedule-btn">
          بعدا
        </button>
      </div>


    </div>

  </div>


</form>
