<!--NavBar-->
<nav class="navbar navbar-expand header-setting" id="header">

  <div class="container">
    <!-- Navbar brand -->
    <a routerLinkActive="active" routerLink="/" class="navbar-brand">
      <img src="assets/imgs/icons/carnotic.png" height="50">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse">

      <!-- Right Links -->
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" routerLink="/pricing" class="txt-custom-black title-property">قیمت گذاری</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/features" class="txt-custom-black title-property">ویژگی ها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/solutions" class="txt-custom-black title-property">راه کارها</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/contact-us" class="txt-custom-black title-property">تماس با ما</a>
        </li>
      </ul>

      <ul class="nav navbar-nav mr-auto">
        <li>
          <button routerLinkActive="active" routerLink="/app/sign-up" type="button" class="btn header-btn">شروع رایگان
          </button>
        </li>
        <li class="login-place-modify"><a routerLinkActive="active" routerLink="/app/login"
                                          class="txt-custom-black login-property">ورود</a></li>
      </ul>

    </div>
    <!-- Collapsible content -->
  </div>

</nav>
<!--NavBar-->
